/* common */
body, html {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
  font-size:14px;
}
.h1, h1 {
  font-size: 36px;
  color: white;
}
.sidebar .widget {
  background: #fff;
  padding: 21px 30px;
}
/* header  */
body header{
  display: block;
  background-image: url('./img/44golaravl.jpg');
  padding-top: 62px;
  padding-bottom: 62px;
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 42px 0;
  background: #f4645f;
}
/* main-navigation */
.main-navigation {
  text-align: center;
  background: #fff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
  border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
/* 区间判断 */
@media (max-width: 767px){
.main-navigation .menu li {
    display: block;
}
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}

/* section conetn  */
.post {
  padding: 35px;
  background: #fff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 2em;
  line-height: 1.2em;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0;
}
/*  TODO:a */
a {
  color: #f4645f;
  outline: 0;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
}
.btn-default {
  border: 1px solid #f1362f;
  background: #f4645f;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #fff;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
/* 内容主图片 */
img{width: 100%;}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
}
.pagination .page-number {
  background: #f4645f;
  color: #fff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  border-radius: 2px;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #fff;
  background: #f4645f;
  border-radius: 2px;
}
.pagination a i {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
/* main-footer */
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget {
  padding: 0 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.main-footer .widget .title {
  color: #fff;
  border-bottom: 1px solid #303030;
}
.widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.widget .recent-post .recent-single-post .post-title {
  color: #505050;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
/* 标签底部伪类橙色底边 */
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #f4645f;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.main-footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030;
}

/* copyright */
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555;
}
/* back to top  */
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(244,100,95,.6);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  display: none;
}
#back-to-top i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
